.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            by
            = link_to "#{@prototype.user.name}", user_path(@prototype.user)
            .degree
              = @prototype.user.position
          -if user_signed_in? && current_user.id == @prototype.user_id
            %ul.nav.nav-pills.col-lg-11
              = link_to "EDIT", edit_prototype_path, class: "btn btn-default col-lg-1"
            %ul.nav.nav-pills.col-lg-11
              = link_to "DELETE", "/prototypes/#{@prototype.id}", method: :delete, class: "btn btn-default col-lg-1"
          - if user_signed_in?
            %ul.nav.nav-pills.col-lg-11
              - if @like.present?
                = link_to prototype_like_path(@prototype, @like), method: :delete, id:"like_button" do
                  %svg.svg_icon{"enable-background" => "new -282 407.9 30 26", :id => "レイヤー_1", :space => "preserve", :version => "1.1", :viewbox => "-282 407.9 30 26", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px", :width => "100px", :height => "100px"}
                    %g#Page-1{"sketch:type" => "MSPage"}
                      %g#PROTOPAGE{"sketch:type" => "MSArtboardGroup", :transform => "translate(-1195.000000, -137.000000)"}
                        %g{"enable-background" => "new    "}
                          %path{:d => "M935.7,545.5c1.5,0,2.9,0.4,4,1.2c1.1,0.8,2,1.8,2.5,3c0.5,1.2,0.7,2.5,0.7,3.8c0,1.3-0.3,2.5-0.9,3.5c-1,1.9-2.7,3.9-5.1,6.1s-4.4,3.9-6.3,5.2l-2.7,1.9c-0.3-0.2-0.7-0.4-1.2-0.8c-0.5-0.3-1.4-1-2.8-2c-1.4-1-2.6-2-3.8-3c-1.1-1-2.3-2.2-3.6-3.5c-1.2-1.4-2.2-2.6-2.8-3.8c-0.6-1-0.9-2.2-0.9-3.5c0-1.3,0.2-2.6,0.7-3.8c0.5-1.2,1.3-2.2,2.4-3c1.1-0.8,2.5-1.2,4.1-1.2c1.4,0,2.6,0.3,3.7,0.8c1.1,0.5,1.9,1.2,2.4,2c0.5,0.8,0.9,1.4,1.2,1.9c0.2,0.5,0.4,0.9,0.5,1.3c0.1-0.4,0.3-0.8,0.5-1.3c0.2-0.5,0.6-1.1,1.2-1.9c0.5-0.8,1.4-1.5,2.4-2C933.1,545.8,934.4,545.5,935.7,545.5z", :fill => "red"}
                %input{name: "like_flag", type: "hidden", value: "1", class: "like_flag", id:"like_flag"}
                %input{name: "like_id", type: "hidden", value: @like.id, class: "like_id", id:"like_id"}

              - else
                = link_to prototype_likes_path(@prototype), method: :post, id: "like_button" do
                  %svg.svg_icon{"enable-background" => "new -282 407.9 30 26", :id => "レイヤー_1", :space => "preserve", :version => "1.1", :viewbox => "-282 407.9 30 26", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px", :width => "100px", :height => "100px"}
                    %g#Page-1{"sketch:type" => "MSPage"}
                      %g#PROTOPAGE{"sketch:type" => "MSArtboardGroup", :transform => "translate(-1195.000000, -137.000000)"}
                        %g{"enable-background" => "new    "}
                          %path{:d => "M935.7,545.5c1.5,0,2.9,0.4,4,1.2c1.1,0.8,2,1.8,2.5,3c0.5,1.2,0.7,2.5,0.7,3.8c0,1.3-0.3,2.5-0.9,3.5c-1,1.9-2.7,3.9-5.1,6.1s-4.4,3.9-6.3,5.2l-2.7,1.9c-0.3-0.2-0.7-0.4-1.2-0.8c-0.5-0.3-1.4-1-2.8-2c-1.4-1-2.6-2-3.8-3c-1.1-1-2.3-2.2-3.6-3.5c-1.2-1.4-2.2-2.6-2.8-3.8c-0.6-1-0.9-2.2-0.9-3.5c0-1.3,0.2-2.6,0.7-3.8c0.5-1.2,1.3-2.2,2.4-3c1.1-0.8,2.5-1.2,4.1-1.2c1.4,0,2.6,0.3,3.7,0.8c1.1,0.5,1.9,1.2,2.4,2c0.5,0.8,0.9,1.4,1.2,1.9c0.2,0.5,0.4,0.9,0.5,1.3c0.1-0.4,0.3-0.8,0.5-1.3c0.2-0.5,0.6-1.1,1.2-1.9c0.5-0.8,1.4-1.5,2.4-2C933.1,545.8,934.4,545.5,935.7,545.5z", :fill => "#D7D7D7"}
                  %input{name: "like_flag", type: "hidden", value: "0", class: "like_flag", id:"like_flag"}
                  %input{name: "like_id", type: "hidden", value: 0, class: "like_id", id:"like_id"}

            %span#likes_count
              = @prototype.likes.length
            %input{name: "current_user_name", type: "hidden", value: current_user.id, class: 'current_user_id' }
            %input{name: "prototype_id", type: "hidden", value: @prototype.id, class: 'prototype_id' }

  .row
    .col-md-9.image-box
      = image_tag(@prototype.set_main_thumbnail.large, class: 'img-responsive img-size-fix', style: "margin: 0 auto;")
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.captured_images.sub.each do |image|
          %li.list-group-item
            = image_tag(image.content, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .comments
    %h4 Comments
    -if @comments
      - @comments.each do |comment|
        %p
          %strong
            = comment.user.name + " : "
          = comment.comment
        -if user_signed_in? && current_user.id == comment.user_id
          = link_to "Edit", edit_prototype_comment_path(@prototype, comment), method: :get, id: "edit_comment"
          = link_to "Delete", prototype_comment_path(@prototype, comment), method: :delete, id: "destroy_comment"

  .comment-form
    -if current_user
      = form_for([@prototype, @comment], id: "new_comment") do |f|
        = f.text_field :comment, name: "comment", placeholder: "コメントする", class: "textbox"
        = f.submit "SEND"
